
.card-title{
top: 20px; 
font-weight: 700;
font-size: x-large;
font-family: 'Commissioner', sans-serif;}

.card-subtitle{
    font-weight:500;
    font-size:medium;
    color: grey;
    font-family: 'Commissioner',sans-serif;
}

.firstbutton{
    position: absolute;
    top:125px;
    left: 50px;
    background-color:  hsl(176, 50%, 47%);
    color: white;
    font-size: small;
    font-weight: 800;
    font-family: 'Commissioner';
}


.firstbutton:hover{
    background:hsl(175, 53%, 24%);
    color: white;
}


.secondbutton{
    position: absolute;
    top: 125px;
    right: 50px;
    background-color: hsl(0, 5%, 85%);
    font-weight: 800;
    color:hsl(0, 1%, 34%);
    font-size: xx-large;
    font-family: 'Commissioner';
    text-align: right;
}


.secondbutton:hover{
    color:hsl(145, 94%, 18%)
}


.bookmark{
    position: absolute;
    right: 165px;
    top: 125px;
}